target/

.idea/
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml

src/main/resources/static/app/*.js
src/main/resources/static/app/*.js.map
src/main/resources/static/node_modules
src/main/resources/static/typings/

.DS_Store
